body {
  background-color: #f7f7e7;
}

@font-face {
  font-family: "Basteleur-Moonlight";
  src: url("./Basteleur-Moonlight.woff") format("woff");
}
@font-face {
  font-family: "Basteleur-Bold";
  src: url("./Basteleur-Bold.woff") format("woff");
}

.logo {
  font-family: "Basteleur-Bold";
  font-size: 60px;
  height: 100px;
  width: 462px;
  color: white;
  /* border: 1px solid red;
  border-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
  outline-color: black;
  -webkit-text-stroke: 0.2px black;
}

.header {
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  font-family: "tuppence", serif;
  font-style: normal;
  font-weight: 400;
  height: 60px;
}

.expositions {
  width: 550px;
  /* border: solid 1px red; */
}

.container {
  width: 90%;
  margin: auto;
}

.caroussel {
  width: 1150px;
  height: 720px;
  border: solid white 15px;
  outline: 0.5px solid lightgray;

  margin-left: 80px;
}

.main {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
/* .expositions {
  font-family: 
} */
.collectives {
  font-size: 20px;
  text-decoration: underline;
  font-family: "Basteleur-Bold";
}

.list {
  color: black;
  font-family: "Basteleur-Moonlight";
}

/* .description {
  margin-top: 5px;
} */

.date {
  margin-top: 10px;
}

.containerLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: px; */
}

.login {
  color: black;
  font-family: "Basteleur-Moonlight";
  font-size: 100px;
  margin-bottom: 50px;
  margin-top: 150px;
}

.email {
  color: black;
  font-family: "Basteleur-Moonlight";
  width: 250px;
  height: 30px;
  border-bottom: black;
  margin-left: 35px;
  border: none;
  border-bottom: 2px solid black;
}

.password {
  color: black;
  font-family: "Basteleur-Moonlight";
  width: 250px;
  height: 30px;
  border-bottom: black;
  margin-left: 35px;
  border: none;
  border-bottom: 2px solid black;
  margin-top: 10px;
}

.seConnecter {
  color: black;
  font-family: "Basteleur-Moonlight";
  margin-left: 110px;
  margin-top: 30px;
  border-radius: 10px;
}

.carousselImage {
  width: 100%;
  height: 100%;
}
